<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<main layout:fragment="_main">
    <th:block th:insert="common/_common.html"/>
    <th:block th:insert="common/_asset-dialog.html"/>
    <th:block th:insert="common/_submit-order-dialog.html"/>
    <script th:inline="javascript">
        Chart.defaults.font.size = 8;
        Chart.defaults.animation = false;
        const trades = new duice.ArrayProxy(/*[[${trades}]]*/[]);
        // creates monitor map
        const monitorMap = new Map();
        trades.forEach(trade => {
            const monitor = new duice.ObjectProxy({
                trade: trade,
                dailyOhlcvsChart: null,
                minuteOhlcvsChart: null,
                basket: new duice.ObjectProxy({
                    basketItems: []
                }),
                balance: {},
                orders: [],
                /**
                 * initialize
                 */
                initialize: function() {
                    let _this = this;
                    // creates chart
                    this.dailyOhlcvsChart = _createDailyOhlcvsChart(`tradeDailyOhlcvsChart-${trade.tradeId}`);
                    this.minuteOhlcvsChart = _createMinuteOhlcvsChart(`tradeMinuteOhlcvsChart-${trade.tradeId}`);
                    // subscribes web socket
                    _webSocketClient.subscribe({
                        destination: `/trades/${_this.trade.tradeId}/log`,
                        listener: function(frame) {
                            let tradeLogElement = document.getElementById(`tradeLog-${_this.trade.tradeId}`);
                            if (tradeLogElement.value.length > 1024 * 1024) {
                                tradeLogElement.value = '';
                            }
                            let tradeLog = JSON.parse(frame.body);
                            tradeLogElement.value += tradeLog.logMessage + '\n';
                            // if not focused, scroll to bottom
                            if (!document.activeElement.isEqualNode(tradeLogElement)) {
                                tradeLogElement.scrollTop = tradeLogElement.scrollHeight;
                            }
                        }
                    });
                    _webSocketClient.subscribe({
                        destination: `/trades/${_this.trade.tradeId}/assets`,
                        listener: function(frame) {
                            let tradeAsset = JSON.parse(frame.body);
                            _this.applyTradeAsset(tradeAsset);
                        }
                    });
                },
                /**
                 * refresh
                 */
                refresh: async function () {
                    await this.getBasket();
                    this.getDailyOhlcvsChart();
                    this.getMinuteOhlcvsChart();
                    this.getTradeAssets();
                    this.getBalance();
                    this.getOrders();
                },
                getBasket: async function() {
                    let url = `${_apiUrl}/v1/baskets/${this.trade.basketId}`;
                    duice.ObjectProxy.clear(this.basket);
                    this.basket._status = 'loading';
                    await _fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            // basket items
                            data.basketItems = []
                            data.basketDividers.forEach(basketDivider => {
                                basketDivider._type = 'basketDivider';
                                data.basketItems.push(basketDivider);
                            });
                            data.basketAssets.forEach(basketAsset => {
                                basketAsset._type = 'basketAsset';
                                data.basketItems.push(basketAsset);
                            });
                            // sort
                            data.basketItems.sort((a, b) => {
                                return (a.sort ?? Number.MAX_VALUE) - (b.sort ?? Number.MAX_VALUE);
                            });
                            delete data.basketDividers;
                            delete data.basketAssets;
                            this.basket._status = data.length < 1 ? 'empty' : null;
                            duice.ObjectProxy.assign(this.basket, data);
                        });
                },
                /**
                 * gets daily ohlcvs chart
                 */
                getDailyOhlcvsChart: function() {
                    this.dailyOhlcvsChart.options.scales.x.max = new Date();
                    this.dailyOhlcvsChart.data.datasets.length = 0;
                    const promises = this.basket.basketItems
                        .filter(it => it._type === 'basketAsset')
                        .map(async basketAsset => {
                            let url = new URL(`${_apiUrl}/v1/assets/${basketAsset.assetId}/ohlcvs`, location.origin);
                            url.searchParams.set('type', 'DAILY');
                            return _fetch(url, {_suppressAlert:true})
                                .then(response => response.json())
                                .then(ohlcvs => {
                                    let timeSeries = _createTimeSeries(ohlcvs);
                                    return {
                                        label: basketAsset.name,
                                        data: timeSeries,
                                        borderWidth: 1,
                                        pointStyle: false
                                    };
                                });
                        });
                    Promise.all(promises).then(results => {
                        results.forEach(dataset => this.dailyOhlcvsChart.data.datasets.push(dataset));
                        this.dailyOhlcvsChart.update();
                    });
                },
                /**
                 * gets minute ohlcvs chart
                 */
                getMinuteOhlcvsChart: function() {
                    this.minuteOhlcvsChart.options.scales.x.max = new Date();
                    this.minuteOhlcvsChart.data.datasets.length = 0;
                    // daily
                    const promises = this.basket.basketItems
                        .filter(it => it._type === 'basketAsset')
                        .map(async basketAsset => {
                            let url = new URL(`${_apiUrl}/v1/assets/${basketAsset.assetId}/ohlcvs`, location.origin);
                            url.searchParams.set('type', 'MINUTE');
                            return _fetch(url, {_suppressAlert:true})
                                .then(response => response.json())
                                .then(ohlcvs => {
                                    let timeSeries = _createTimeSeries(ohlcvs);
                                    return {
                                        label: basketAsset.name,
                                        data: timeSeries,
                                        borderWidth: 1,
                                        pointStyle: false
                                    };
                                });
                        });
                    Promise.all(promises).then(results => {
                        results.forEach(dataset => this.minuteOhlcvsChart.data.datasets.push(dataset));
                        this.minuteOhlcvsChart.update();
                    });
                },
                /**
                 * gets trade assets
                 */
                getTradeAssets: function() {
                    let url = new URL(`${_apiUrl}/v1/trades/${this.trade.tradeId}/assets`, document.location.origin);
                    _fetch(url, {_suppressAlert:true})
                        .then(response => response.json())
                        .then(tradeAssets => {
                            tradeAssets.forEach(tradeAsset => {
                                this.applyTradeAsset(tradeAsset);
                            });
                        });
                },
                /**
                 * applies trade asset
                 * @param tradeAsset trade asset
                 */
                applyTradeAsset: function(tradeAsset) {
                    let basketItem = this.basket.basketItems.find(it => it.assetId === tradeAsset.assetId);
                    if (basketItem) {
                        basketItem.dateTime = tradeAsset.dateTime;
                        basketItem.close = tradeAsset.close;
                        basketItem.volume = tradeAsset.volume;
                        basketItem.netChange = tradeAsset.netChange;
                        basketItem.netChangePercentage = tradeAsset.netChangePercentage;
                        basketItem.intraDayNetChange = tradeAsset.intraDayNetChange;
                        basketItem.intraDayNetChangePercentage = tradeAsset.intraDayNetChangePercentage;
                        basketItem.message = tradeAsset.message;
                        basketItem.strategyResult = tradeAsset.strategyResult;
                    }
                },
                /**
                 * gets balance
                 */
                getBalance: function() {
                    let url = new URL(`${_apiUrl}/v1/trades/${this.trade.tradeId}/balance`, document.location.origin);
                    _fetch(url, {_suppressAlert:true})
                        .then(response => response.json())
                        .then(balance => {
                            this.applyBalance(balance);
                        });
                },
                /**
                 * applies balance
                 * @param balance balance
                 */
                applyBalance: function(balance) {
                    duice.ObjectProxy.assign(this.balance, balance);
                    balance.balanceAssets.forEach(balanceAsset => {
                        let basketAsset = this.basket.basketItems
                            .filter(it => it._type === 'basketAsset')
                            .find(it => it.assetId === balanceAsset.assetId);
                        if (basketAsset) {
                            duice.ObjectProxy.assign(basketAsset, {
                                quantity: balanceAsset.quantity,
                                orderableQuantity: balanceAsset.orderableQuantity,
                                purchasePrice: balanceAsset.purchasePrice,
                                purchaseAmount: balanceAsset.purchaseAmount,
                                valuationPrice: balanceAsset.valuationPrice,
                                valuationAmount: balanceAsset.valuationAmount,
                                profitAmount: balanceAsset.profitAmount,
                                profitPercentage: balanceAsset.profitPercentage
                            });
                        }
                    });
                },
                getOrders: function() {
                    let url = new URL(`${_apiUrl}/v1/orders`, document.location.origin);
                    let orderAtFrom = dateFns.subHours(new Date(), 12).toISOString();
                    let orderAtTo = new Date().toISOString();
                    url.searchParams.append('orderAtFrom', orderAtFrom);
                    url.searchParams.append('orderAtTo', orderAtTo);
                    url.searchParams.append('tradeId', this.trade.tradeId);
                    url.searchParams.append('_size', 1000);
                    _fetch(url, {_suppressAlert:true}).then(response => response.json()).then(orders => {
                        this.applyOrders(orders);
                    });
                },
                applyOrders: function(orders) {
                    duice.ArrayProxy.assign(this.orders, orders);
                    const buyCountMap = orders.filter(it => it.type === 'BUY')
                        .reduce((acc, obj) => {
                            const keyValue = obj['assetId'];
                            if (!acc[keyValue]) {
                                acc[keyValue] = 0;
                            }
                            acc[keyValue]++;
                            return acc;
                        }, {});
                    Object.entries(buyCountMap).forEach(([key, value]) => {
                        let basketAsset = this.basket.basketItems
                            .filter(it => it._type === 'basketAsset')
                            .find(it => it.assetId === key);
                        if (basketAsset) {
                            basketAsset.buyCount = value;
                        }
                    });
                    const sellCountMap = orders.filter(it => it.type === 'SELL')
                        .reduce((acc, obj) => {
                            const keyValue = obj['assetId'];
                            if (!acc[keyValue]) {
                                acc[keyValue] = 0;
                            }
                            acc[keyValue]++;
                            return acc;
                        }, {});
                    Object.entries(sellCountMap).forEach(([key, value]) => {
                        let basketAsset = this.basket.basketItems
                            .filter(it => it._type === 'basketAsset')
                            .find(it => it.assetId === key);
                        if (basketAsset) {
                            basketAsset.sellCount = value;
                        }
                    });
                },
                buyTradeAsset: function(assetId) {
                    let asset = this.basket.basketItems.find(it => it.assetId === assetId);
                    _submitOrderDialog.open({trade: this.trade, asset: asset, type: 'BUY'})
                    .then(() => {
                        this.getBalance();
                    });
                },
                sellTradeAsset: function(assetId) {
                    let asset = this.basket.basketItems.find(it => it.assetId === assetId);
                    _submitOrderDialog.open({trade: this.trade, asset: asset, type: 'SELL'})
                    .then(() => {
                        this.getBalance();
                    });
                }
            });
            // saves monitor to map
            monitorMap.set(trade.tradeId, monitor);
        });

        /**
         * initializes all trade monitors
         */
        function initializeMonitors() {
            monitorMap.forEach((monitor, tradeId) => {
                  monitor.initialize();
            });
        }

        /**
         * refresh specified monitor
         * @param tradeId
         */
        function refreshMonitor(tradeId) {
            monitorMap.get(tradeId).refresh();
        }

        /**
         * opens trade view
         * @param tradeId trade id
         */
        function openTrade(tradeId) {
            const url = new URL(`${location.origin}/trade/detail`);
            url.searchParams.set('tradeId', tradeId);
            _openLink(url.toString(), '_blank');
        }

        /**
         * opens orders view
         * @param tradeId trade id
         * @param assetId asset id
         */
        function openOrders(tradeId, assetId) {
            _openLink(`${location.origin}/order?tradeId=${tradeId}&key=assetId&value=${assetId}`, '_blank');
        }

        // initialize
        _initialize(() => {
            // initialize
            initializeMonitors();

            let tabFolder = new duice.TabFolder();
            trades.forEach(trade => {
                tabFolder.addItem(new duice.TabItem(
                    document.getElementById(`monitorTabButton-${trade.tradeId}`),
                    document.getElementById(`monitorTabContent-${trade.tradeId}`),
                    () => {
                        refreshMonitor(trade.tradeId);
                    })
                );
            });
            // set tab active
            tabFolder.setActive(0);
        });
    </script>
    <style th:inline="css">
        .tradeLog {
            padding-top: 0.5em;
            line-height: 1.2em;
            background-color: #222;
            color: white;
        }
    </style>

    <!-- ====================================== -->
    <!-- start: title                           -->
    <!-- ====================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-monitor.svg}" alt="monitor"/>
        <span data-th-text="#{web.global.monitor}"></span>
    </h1>
    <!-- ====================================== -->
    <!-- end: title                             -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: tab index                       -->
    <!-- ====================================== -->
    <div id="tabIndex" class="tab">
        <span class="tab-item"  th:each="trade : ${trades}" th:id="|monitorTabButton-${trade.tradeId}|">
            <img class="icon" th:src="@{/static/image/icon-trade.svg}" alt="simulate"/>
            <span data-th-text="${trade.name}"></span>
        </span>
    </div>
    <!-- ====================================== -->
    <!-- end: tab index                         -->
    <!-- ====================================== -->

    <!-- ================================== -->
    <!-- start: trade                       -->
    <!-- ================================== -->
    <div th:each="trade,status : ${trades}" th:id="|monitorTabContent-${trade.tradeId}|"
         th:attr="hidden=${status.index > 0}"
         class="panel">
        <div class="panel-title">
            <h2>
                <img class="icon" th:src="@{/static/image/icon-trade.svg}" alt="trade"/>
                <span data-th-text="${trade.name}"></span>
                <a href="#" th:data-trade-id="${trade.tradeId}" onclick="openTrade(this.dataset.tradeId);">
                    <small>
                        <img class="icon cursor--pointer" th:src="@{/static/image/icon-open.svg}" alt="trade"/>
                    </small>
                </a>
            </h2>
        </div>
        <div class="panel-content">
            <div class="display--grid grid-template-columns--12fr">
                <div class="grid-column--span-6 s__grid-column--span-12" style="height:150px;">
                    <div class="font-weight--bold">
                        <img class="icon" src="/static/image/icon-ohlcv.svg" alt="ohlcv">
                        <span>Daily</span>
                    </div>
                    <canvas th:id="'tradeDailyOhlcvsChart-' + ${trade.tradeId}"></canvas>
                </div>
                <div class="grid-column--span-6 s__grid-column--span-12" style="height:150px;">
                    <div class="font-weight--bold">
                        <img class="icon" src="/static/image/icon-ohlcv.svg" alt="ohlcv">
                        <span>Minute</span>
                    </div>
                    <canvas th:id="'tradeMinuteOhlcvsChart-' + ${trade.tradeId}"></canvas>
                </div>
            </div>
            <div class="grid-column--span-12">
                <div>
                    <img class="icon" data-th-src="@{/static/image/icon-log.svg}" alt="log"/>
                    <span class="font-weight--bold" data-th-text="#{web.global.log}"></span>
                </div>
                <div style="height:200px;">
                    <textarea th:id="'tradeLog-' + ${trade.tradeId}" class="tradeLog width--100 height--100 code font-size--smaller"></textarea>
                </div>
            </div>
            <div class="grid-column--span-12">
                <div class="display--flex justify-content--space-between align-items--center flex-wrap--wrap">
                    <div class="s__width--100">
                        <img class="icon" data-th-src="@{/static/image/icon-basket.svg}" alt="basket"/>
                        <span class="font-weight--bold" data-th-text="#{fintics.core.basket.BasketAsset}"></span>
                        <span class="font-weight--bold">
                            (
                            <span data-th-text="#{fintics.core.trade.Trade.investAmount}"></span>:
                            <span data-th-text="${#numbers.formatDecimal(trade.investAmount,3,'COMMA',2,'POINT')}" class="number"></span>
                            )
                        </span>
                    </div>
                    <div class="s__width--100 display--flex s__flex-direction--column" style="line-height:2.0rem;">
                        <div>
                            <img class="icon" data-th-src="@{/static/image/icon-balance.svg}" alt="balance"/>
                            <span class="font-weight--bold">
                            <span data-th-text="#{fintics.core.broker.Balance.totalAmount}"></span>:
                            <span th:data-duice-bind="|monitorMap.get('${trade.tradeId}').balance|"
                                  th:data-duice-property="totalAmount" data-duice-format="number()" class="number">
                            </span>
                        </span>
                        </div>
                        <div>
                            <small>|</small>
                            <span data-th-text="#{fintics.core.broker.Balance.profitAmount}"></span>:
                            <span th:data-duice-bind="|monitorMap.get('${trade.tradeId}').balance|"
                                  th:data-duice-property="profitAmount"
                                  th:data-duice-execute="|
                              let profitAmount = monitorMap.get('${trade.tradeId}').balance.profitAmount;
                              if (profitAmount > 0) this.classList.add('color--green');
                              if (profitAmount < 0) this.classList.add('color--red');
                              |"
                                  data-duice-format="number()"
                                  class="number font-weight--bold"></span>
                        </div>
                        <div>
                            <small>|</small>
                            <span data-th-text="#{fintics.core.broker.Balance.realizedProfitAmount}"></span>:
                            <span th:data-duice-bind="|monitorMap.get('${trade.tradeId}').balance|"
                                  th:data-duice-property="realizedProfitAmount"
                                  th:data-duice-execute="|
                              let realizedProfitAmount = monitorMap.get('${trade.tradeId}').balance.realizedProfitAmount;
                              if (realizedProfitAmount > 0) this.classList.add('color--green');
                              if (realizedProfitAmount < 0) this.classList.add('color--red');
                              |"
                                  data-duice-format="number()"
                                  class="number font-weight--bold"></span>
                        </div>
                        <div>
                            <small>|</small>
                            <span data-th-text="#{fintics.core.broker.Balance.purchaseAmount}"></span>:
                            <span th:data-duice-bind="|monitorMap.get('${trade.tradeId}').balance|"
                                  th:data-duice-property="purchaseAmount" data-duice-format="number()" class="number"></span>
                        </div>
                        <div>
                            <small>|</small>
                            <span data-th-text="#{fintics.core.broker.Balance.valuationAmount}"></span>:
                            <span th:data-duice-bind="|monitorMap.get('${trade.tradeId}').balance|"
                                  th:data-duice-property="valuationAmount" data-duice-format="number()" class="number"></span>
                        </div>
                        <div>
                            <small>|</small>
                            <span data-th-text="#{fintics.core.broker.Balance.cashAmount}"></span>:
                            <span th:data-duice-bind="|monitorMap.get('${trade.tradeId}').balance|"
                                  th:data-duice-property="cashAmount" data-duice-format="number()" class="number"></span>
                        </div>
                        <div>
                            <small>|</small>
                            <span class="font-size--smaller" style="font-style:italic;" th:data-duice-bind="|monitorMap.get('${trade.tradeId}').trade|"
                                th:data-duice-execute="|
                                let trade = monitorMap.get('${trade.tradeId}').trade;
                                let cashAssetId = trade.cashAssetId;
                                let cashBufferWeight = trade.cashBufferWeight;
                                if (cashAssetId && cashBufferWeight) {
                                    this.innerHTML += ' (#{fintics.core.trade.Trade.cashAssetId}: ' + cashAssetId + ' - ' + cashBufferWeight + '%)' ;
                                }|"></span>
                        </div>
                    </div>
                </div>
                <!-- start: basket items -->
                <div class="display--grid grid-template-columns--12fr gap--1rem">
                    <div th:data-duice-bind="|monitorMap.get('${trade.tradeId}').basket.basketItems|"
                         data-duice-foreach="basketItem,status"
                         data-duice-execute="
                         if (basketItem._type === 'basketAsset') {
                             this.classList.add('grid-column--span-4');
                             this.classList.add('s__grid-column--span-12');
                         } else {
                             this.classList.add('grid-column--span-12');
                         }
                         "
                         class="display--flex flex-direction--column gap--1rem">
                        <!-- start: basket divider -->
                        <div data-duice-bind="basketItem"
                             data-duice-if="return basketItem._type==='basketDivider';"
                             hidden>
                            <div class="padding-left--1rem" style="background-color:var(--duice-table-tbody-hover-background); border-left:var(--duice-form-element-border); border-left-width:2px;">
                                <span data-duice-bind="basketItem" data-duice-property="name" class="font-size--larger font-weight--bold"></span>
                            </div>
                        </div>
                        <!-- end: basket divider -->
                        <!-- start: basket asset -->
                        <div data-duice-bind="basketItem"
                             data-duice-if="return basketItem._type==='basketAsset';"
                             class="display--flex flex-direction--column gap--1px overflow--hidden"
                             hidden>
                                <!-- start: basket asset details -->
                                <div class="display--flex align-items--center gap--d5rem flex-wrap--nowrap overflow--hidden">
                                    <div>
                                        <img class="icon border-radius--50 font-size--x-large"
                                             th:src="@{/static/image/icon-asset.svg}"
                                             data-duice-bind="basketItem"
                                             data-duice-property="icon"
                                             alt=""/>
                                    </div>
                                    <div class="display--flex flex-direction--column overflow--hidden">
                                        <div class="display--flex flex-wrap--nowrap align-items--center gap--d5em overflow--hidden" style="line-height:2rem;">
                                            <a href="javascript:void(0);"
                                               data-duice-bind="basketItem"
                                               data-duice-execute="this.dataset.assetId = basketItem.assetId;"
                                               onclick="_assetDialog.open({assetId:this.dataset.assetId});"
                                               class="overflow--hidden">
                                                <div class="text-truncate"
                                                     data-duice-bind="basketItem"
                                                     data-duice-property="name"
                                                     data-duice-execute="
                                                    if (basketItem.quantity > 0) {
                                                        this.classList.add('font-weight--bold');
                                                    }
                                                    if (basketItem.holdingWeight === 0 && basketItem.enabled) {
                                                        this.style.fontStyle = 'italic';
                                                        this.style.textDecoration = 'line-through';
                                                    }"></div>
                                            </a>
                                            <div>
                                                [<span data-duice-bind="basketItem" data-duice-property="holdingWeight" class="number"></span><span class="code">%</span>]
                                            </div>
                                            <img class="icon font-size--smaller"
                                                 th:src="@{/static/image/icon-pin.svg}"
                                                 data-duice-bind="basketItem"
                                                 data-duice-if="return basketItem.fixed" alt="fixed"/>
                                            <img class="icon font-size--smaller"
                                                 th:src="@{/static/image/icon-disabled.svg}"
                                                 data-duice-bind="basketItem"
                                                 data-duice-if="return !basketItem.enabled" alt="disabled"/>
                                        </div>
                                        <div class="font-size--smaller" style="line-height:1rem;">
                                            <span class="number font-weight--bold"
                                                  data-duice-bind="basketItem"
                                                  data-duice-execute="
                                              let close = basketItem.close;
                                              let netChange = basketItem.netChange || 0;
                                              let netChangePercentage = basketItem.netChangePercentage || 0;
                                              this.classList.toggle('color--green', netChange > 0);
                                              this.classList.toggle('color--red', netChange < 0);
                                              this.innerHTML = `${close?.toLocaleString()||''} (${netChange} <small>/</small> ${netChangePercentage}%)`;
                                              "></span>
                                            <span class="number font-size--xx-small font-style--italic"
                                                  data-duice-bind="basketItem"
                                                  data-duice-execute="
                                              this.innerHTML = `Volume: ${basketItem.volume?.toLocaleString()||''}`;
                                              "></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- end: basket asset details -->
                                <!-- start: basket asset valuation -->
                                <div data-duice-bind="basketItem"
                                     class="display--flex align-items--center gap--d5rem flex-wrap--wrap">
                                    <span data-duice-bind="basketItem"
                                          data-duice-property="valuationAmount"
                                          data-duice-execute="
                                          if (!basketItem.valuationAmount) {
                                            this.innerHTML = '0';
                                          }"
                                          data-duice-format="number()"
                                          class="number font-weight--bold font-size--larger">-</span>
                                    <small>/</small>
                                    <span data-duice-bind="basketItem"
                                          data-duice-property="quantity"
                                          data-duice-execute="
                                          if (!basketItem.quantity) {
                                            this.innerHTML = '0';
                                          }"
                                          data-duice-format="number()"
                                          class="number">
                                    </span>
                                    <span data-duice-bind="basketItem"
                                          data-duice-execute="
                                         this.classList.toggle('color--green', basketItem.profitAmount > 0);
                                         this.classList.toggle('color--red', basketItem.profitAmount < 0);
                                         " class="number font-weight--bold white-space--nowrap">
                                        (<span data-duice-bind="basketItem"
                                               data-duice-property="profitAmount"
                                               data-duice-format="number()"
                                               data-duice-execute="
                                                if (!basketItem.profitAmount) {
                                                    this.innerHTML = '0';
                                                }"></span>
                                        <small>/</small>
                                        <span data-duice-bind="basketItem"
                                              data-duice-property="profitPercentage"
                                              data-duice-execute="
                                                if (!basketItem.profitAmount) {
                                                    this.innerHTML = '0';
                                                }"></span>%)
                                    </span>
                                    <span class="cursor--pointer"
                                          data-duice-bind="basketItem"
                                          th:data-duice-execute="|
                                          this.dataset.tradeId = '${trade.tradeId}';
                                          this.dataset.assetId = basketItem.assetId;
                                          |"
                                          onclick="openOrders(this.dataset.tradeId, this.dataset.assetId);">
                                            <span data-duice-bind="basketItem"
                                                  data-duice-if="return basketItem.buyCount > 0;"
                                                  class="badge background-color--green">
                                                <span data-duice-bind="basketItem" data-duice-property="buyCount" class="number"></span>
                                            </span>
                                            <span data-duice-bind="basketItem"
                                                  data-duice-if="return basketItem.sellCount > 0;"
                                                  class="badge background-color--red">
                                                <span data-duice-bind="basketItem" data-duice-property="sellCount" class="number"></span>
                                            </span>
                                    </span>
                                    <span class="code blink badge"
                                          data-duice-bind="basketItem"
                                          data-duice-if="return !!basketItem.strategyResult;"
                                          data-duice-execute="
                                                  let action = basketItem.strategyResult?.action;
                                                  let position = basketItem.strategyResult?.position;
                                                  this.innerHTML= `${action} <small>|</small> ${position}`;
                                                  this.classList.toggle('background-color--green', action === 'BUY');
                                                  this.classList.toggle('background-color--red', action === 'SELL');
                                                  "></span>
                                </div>
                                <!-- end: basket asset valuation -->
                                <!-- start: basket asset links and actions -->
                                <div class="display--flex align-items--center gap--1px font-size--smaller">
                                    <div class="display--flex gap--1px">
                                        <label>
                                            <select class="code"
                                                    data-duice-bind="basketItem"
                                                    data-duice-if="return !!basketItem.links"
                                                    data-duice-option="basketItem.links"
                                                    data-duice-option-value-property="url"
                                                    data-duice-option-text-property="name"
                                                    onchange="_openLink(this.value, '_blank'); this.value = '';">
                                                <option value>Link...</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="display--flex gap--1px">
                                        <button class="button" type="button"
                                                data-duice-bind="basketItem"
                                                data-duice-execute="this.dataset.assetId=basketItem.assetId"
                                                th:attr="onclick=|monitorMap.get('${trade.tradeId}').buyTradeAsset(this.dataset.assetId);|"
                                                th:classappend="!${#authorization.expression('hasAuthority(''trade:edit'')')}?'locked'">
                                            <img class="icon" th:src="@{/static/image/icon-add.svg}" alt="buy"/>
                                            <span data-th-text="#{fintics.core.order.Order.Type.BUY}"></span>
                                        </button>
                                        <button class="button" type="button"
                                                data-duice-bind="basketItem"
                                                data-duice-execute="this.dataset.assetId=basketItem.assetId;"
                                                th:attr="onclick=|monitorMap.get('${trade.tradeId}').sellTradeAsset(this.dataset.assetId);|"
                                                th:classappend="!${#authorization.expression('hasAuthority(''trade:edit'')')}?'locked'">
                                            <img class="icon" th:src="@{/static/image/icon-remove.svg}" alt="sell"/>
                                            <span data-th-text="#{fintics.core.order.Order.Type.SELL}"></span>
                                        </button>
                                    </div>
                                </div>
                                <!-- end: basket asset links and actions -->
                                <!-- start: basket log -->
                                <div>
                                    <label class="display--flex height--100">
                                        <textarea data-duice-bind="basketItem"
                                                  data-duice-property="message"
                                                  data-duice-execute="this.disabled = !basketItem.enabled;"
                                                  class="width--100 height--100 code font-size--smaller"
                                                  style="min-width:30em; min-height:7rem; line-height:1.1em; padding:0.1em 0.3em;"></textarea>
                                    </label>
                                </div>
                                <!-- end: basket log -->
                        </div>
                        <!-- end: basket asset -->
                    </div>
                </div>
                <!-- end: basket items -->
                <!-- start: basket loading -->
                <div th:data-duice-bind="|monitorMap.get('${trade.tradeId}').basket|"
                     th:data-duice-if="|return monitorMap.get('${trade.tradeId}').basket._status === 'loading'|"
                     class="text-align--center"
                     hidden>
                    <span class="loading"></span>
                </div>
                <!-- end: basket loading -->
                <!-- start: basket empty -->
                <div th:data-duice-bind="|monitorMap.get('${trade.tradeId}').basket|"
                     th:data-duice-if="|return monitorMap.get('${trade.tradeId}').basket._status == 'empty';|"
                     class="text-align--center"
                     hidden>
                    <span data-th-text="#{web.global.itemNotFound(#{fintics.core.basket.BasketAsset})}"></span>
                </div>
                <!-- end: basket empty -->
            </div>
        </div>
    </div>
    <!-- ================================== -->
    <!-- end: trade                         -->
    <!-- ================================== -->

</main>
