<!-- ================================== -->
<!-- submit order dialog                -->
<!-- ================================== -->
<dialog class="dialog" id="_submitOrderDialog">
    <style th:inline="css">
        #_submitOrderDialog {
            width: 400px;
        }
    </style>
    <script th:inline="javascript">
        const _submitOrderDialog = {
            dialog: new duice.Dialog(document.getElementById('_submitOrderDialog')),
            order: new duice.ObjectProxy({
                tradeId: null,
                tradeName: null,
                assetId: null,
                assetName: null,
                type: null,
                kind: 'MARKET',
                quantity: 1
            }),
            open: async function(trade, asset, type) {
                duice.ObjectProxy.reset(this.order);
                this.order.tradeId = trade.tradeId;
                this.order.tradeName = trade.name;
                this.order.assetId = asset.assetId;
                this.order.assetName = asset.name;
                this.order.type = type;
                return this.dialog.open();
            },
            confirm: async function() {
                if(!this.order.quantity) {
                    await _alert(/*[[#{web.global.itemEmpty(#{fintics.Order.quantity})}]]*/'');
                    duice.ObjectProxy.focus(this.order, 'quantity');
                    return false;
                }
                _confirm(/*[[#{web.global.requestItemConfirm(#{fintics.core.order.Order})}]]*/'')
                    .then(result => {
                        let url = new URL(`${_apiUrl}/v1/trades/${this.order.tradeId}/orders`, document.location.origin);
                        if (result) {
                            _fetch(url, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(this.order)
                            }).then(response => response.json())
                                .then(data => {
                                    _alert(/*[[#{web.global.requestItemComplete(#{fintics.core.order.Order})}]]*/'')
                                        .then(() => {
                                            this.dialog.close();
                                        });
                                });
                        }
                    });
            }
        }
    </script>
    <div class="dialog-title">
        <h2>
            <img class="icon" th:src="@{/static/image/icon-order.svg}" alt="asset"/>
            <span data-th-text="#{fintics.core.order.Order}"></span>
        </h2>
    </div>
    <div class="dialog-content">
        <form onsubmit="return false;" class="display--grid grid-template-columns--12fr gap--1rem">
            <label class="grid-column--span-12">
                <span data-th-text="#{fintics.core.trade.Trade}" class="font-weight--bold"></span>
                <input type="text" data-duice-bind="_submitOrderDialog.order" data-duice-property="tradeName" class="width--100"/>
            </label>
            <label class="grid-column--span-12">
                <span data-th-text="#{fintics.core.asset.Asset}" class="font-weight--bold"></span>
                <input type="text" data-duice-bind="_submitOrderDialog.order" data-duice-property="assetName" class="width--100"/>
            </label>
            <label class="grid-column--span-12">
                <span data-th-text="#{fintics.core.order.Order.type}" class="font-weight--bold"></span>
                <select data-duice-bind="_submitOrderDialog.order" data-duice-property="type" class="width--100">
                    <option value="BUY" data-th-text="#{fintics.core.order.Order.Type.BUY}"></option>
                    <option value="SELL" data-th-text="#{fintics.core.order.Order.Type.SELL}"></option>
                </select>
            </label>
            <label class="grid-column--span-12">
                <span data-th-text="#{fintics.core.order.Order.kind}" class="font-weight--bold"></span>
                <select data-duice-bind="_submitOrderDialog.order" data-duice-property="kind" class="width--100">
                    <option value="MARKET" data-th-text="#{fintics.core.order.Order.Kind.MARKET}"></option>
                    <option value="LIMIT" data-th-text="#{fintics.core.order.Order.Kind.LIMIT}"></option>
                </select>
            </label>
            <label class="grid-column--span-12">
                <span data-th-text="#{fintics.core.order.Order.quantity}" class="font-weight--bold"></span>
                <input type="number" data-duice-bind="_submitOrderDialog.order" data-duice-property="quantity" class="width--100"/>
            </label>
        </form>
        <div class="display--flex justify-content--end">
            <button class="button" onclick="_submitOrderDialog.confirm();">
                <img class="icon" th:src="@{/static/image/icon-confirm.svg}" alt="confirm"/>
                <span data-th-text="#{web.global.confirm}"></span>
            </button>
        </div>
    </div>
</dialog>
<!-- ================================== -->
<!-- submit order dialog                -->
<!-- ================================== -->

