<th:block th:fragment="_assetDialog">
    <!-- ====================================== -->
    <!-- start: _assetDialog                    -->
    <!-- ====================================== -->
    <dialog id="_assetDialog" class="dialog">
        <style th:inline="css">
            #_assetDialog {
            }
            #_assetDialogChart {
                width: 600px;
                height: 200px;
            }
        </style>
        <script th:inline="javascript">
            const _assetDialog = {
                dialog: new duice.Dialog(document.getElementById('_assetDialog')),
                assetId: null,
                asset: new duice.ObjectProxy({}),
                minuteOhlcvs: [],
                dailyOhlcvs: [],
                chart: null,
                candlestickSeries: null,
                open: async function(assetId) {
                    this.assetId = assetId;

                    // opens dialog
                    let promise = this.dialog.open();

                    // creates chart
                    if (!this.chart) {
                        const chartOptions = {
                            layout: {
                                textColor: 'black',
                                background: {
                                    type: 'solid',
                                    color: 'white'
                                },
                                fontFamily: 'Nanum Gothic Coding',
                                attributionLogo: false
                            },
                            timeScale: {
                                timeVisible: true,
                            },
                            priceScale: {
                                autoScale: true,
                            },
                        };
                        this.chart = LightweightCharts.createChart(document.getElementById('_assetDialogChart'), chartOptions);
                        this.candlestickSeries = this.chart.addCandlestickSeries({
                            upColor: '#26a69a',
                            downColor: '#ef5350',
                            borderVisible: false,
                            wickUpColor: '#26a69a',
                            wickDownColor: '#ef5350'
                        });
                    }

                    // clears data
                    duice.ObjectProxy.clear(this.asset);
                    this.minuteOhlcvs = [];
                    this.dailyOhlcvs = [];
                    this.candlestickSeries.setData([]);
                    document.getElementsByName('_assetDialogChartPeriod').forEach(it => it.checked = false);

                    // retrieves asset
                    this.getAsset();

                    // retrieves ohlcvs
                    Promise.all([
                        this.getOhlcvs('minute'),
                        this.getOhlcvs('daily')
                    ])
                    .then(([minuteOhlcvs, dailyOhlcvs]) => {
                        this.minuteOhlcvs = minuteOhlcvs;
                        this.dailyOhlcvs = dailyOhlcvs;

                        // draw default chart
                        document.getElementsByName('_assetDialogChartPeriod')[0].checked = true;
                        this.drawChart('minute', 1);
                    });

                    // returns promise
                    return promise;
                },
                getAsset: function() {
                    let url = new URL(`${_apiUrl}/v1/assets/${this.assetId}`, document.location.href);
                    _fetch(url).then(response => response.json())
                    .then(responseBody => {
                        duice.ObjectProxy.clear(this.asset);
                        duice.ObjectProxy.assign(this.asset, responseBody);
                    });
                },
                getOhlcvs: function(type) {
                    let url = new URL(`${_apiUrl}/v1/ohlcvs/${this.assetId}/${type}`, document.location.href);
                    url.searchParams.append('_size', 10000);
                    return _fetch(url).then(response => response.json());
                },
                drawChart: function(type, period) {
                    let ohlcvs;
                    if (type === 'minute') {
                        ohlcvs = this.minuteOhlcvs;
                    }
                    if (type === 'daily') {
                        ohlcvs = this.dailyOhlcvs;
                    }
                    let ohlcvSeries = ohlcvs.map(it => {
                        return {
                            time: Math.floor(new Date(it.dateTime).getTime()/1000),
                            open: it.open,
                            high: it.high,
                            low: it.low,
                            close: it.close,
                            volume: it.volume
                        };
                    }).reverse();

                    // resample
                    if (period> 1) {
                        ohlcvSeries = this.resample(ohlcvSeries, period);
                    }

                    // chart options
                    const chartOptions = {
                        layout: {
                            textColor: 'black',
                            background: {
                                type: 'solid',
                                color: 'white'
                            }
                        },
                        timeScale: {
                            timeVisible: false,
                        }
                    };
                    if (type === 'minute') {
                        chartOptions.timeScale.timeVisible = true;
                    }
                    this.chart.applyOptions(chartOptions);

                    // set chart data
                    this.candlestickSeries.setData([]);
                    this.candlestickSeries.setData(ohlcvSeries);
                    this.chart.timeScale().fitContent();
                },
                resample(ohlcvSeries, period) {
                    const resampledData = [];
                    let currentCandle = null;

                    ohlcvSeries.forEach(item => {
                        const date = new Date(item.time * 1000);
                        const minutes = date.getMinutes();

                        // interval 분 단위로 새로운 캔들 시작
                        if (minutes % period === 0 || !currentCandle) {
                            if (currentCandle) {
                                resampledData.push(currentCandle);
                            }
                            currentCandle = {
                                time: item.time,
                                open: item.open,
                                high: item.high,
                                low: item.low,
                                close: item.close,
                                volume: item.volume
                            };
                        } else {
                            // 현재 캔들을 업데이트
                            currentCandle.high = Math.max(currentCandle.high, item.high);
                            currentCandle.low = Math.min(currentCandle.low, item.low);
                            currentCandle.close = item.close;
                            currentCandle.volume += item.volume;
                        }
                    });

                    // 마지막 캔들을 추가
                    if (currentCandle) {
                        resampledData.push(currentCandle);
                    }

                    // returns
                    return resampledData;
                }
            }
        </script>
        <div class="dialog-title">
            <h2>
                <img class="icon" th:src="@{/static/image/icon-asset.svg}" alt="asset"/>
                <span data-th-text="#{fintics.Asset}"></span>
            </h2>
        </div>
        <div class="dialog-content">
            <h3>
                <img class="icon" th:src="@{/static/image/icon-detail.svg}" alt="detail"/>
                <span data-th-text="|#{fintics.Asset} #{web.global.detail}|" class="font-weight--bold"></span>
            </h3>
            <div class="display--grid grid-template-columns--12fr gap--1rem">
                <div class="grid-column--span-12">
                    <table class="table width--100">
                    <colgroup>
                        <col class="width--20"/>
                        <col class="width--30"/>
                        <col class="width--20"/>
                        <col class="width--30"/>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>
                                <span data-th-text="#{fintics.Asset.symbol}" class="font-weight--bold"></span>
                            </td>
                            <td>
                                <span data-duice-bind="_assetDialog.asset" data-duice-property="symbol" class="code font-weight--bold"></span>
                            </td>
                            <td>
                                <span data-th-text="#{fintics.Asset.name}" class="font-weight--bold"></span>
                            </td>
                            <td>
                                <img class="icon icon--circle font-size--large vertical-align--middle" data-duice-bind="_assetDialog.asset" data-duice-property="icon" th:onerror="|this.src='@{/static/image/icon-asset.svg}';|" alt=""/>
                                &nbsp;
                                <span class="vertical-align--middle" data-duice-bind="_assetDialog.asset" data-duice-property="name"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span data-th-text="#{fintics.Asset.market}" class="font-weight--bold"></span>
                            </td>
                            <td>
                                <span data-duice-bind="_assetDialog.asset" data-duice-property="market" class="code badge"></span>
                            </td>
                            <td>
                                <span data-th-text="#{fintics.Asset.exchange}" class="font-weight--bold"></span>
                            </td>
                            <td>
                                <span data-duice-bind="_assetDialog.asset" data-duice-property="exchange" class="code badge"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span data-th-text="#{fintics.Asset.type}" class="font-weight--bold"></span>
                            </td>
                            <td>
                                <span data-duice-bind="_assetDialog.asset" data-duice-property="type" class="code badge"></span>
                            </td>
                            <td>
                                <span data-th-text="#{fintics.Asset.updatedDate}" class="font-weight--bold"></span>
                            </td>
                            <td>
                                <span data-duice-bind="_assetDialog.asset" data-duice-property="updatedDate" class="date"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="grid-column--span-12">
                    <div class="overflow--auto box">
                        <table class="table width--100 border--none font-size--smaller code">
                            <colgroup>
                                <col class="width--20"/>
                                <col class="width--30"/>
                                <col class="width--20">
                                <col class="width--30">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th data-th-text="#{fintics.Asset.marketCap}"></th>
                                <td data-duice-bind="_assetDialog.asset" data-duice-property="marketCap" data-duice-format="number()" class="text-align--right"></td>
                                <th data-th-text="#{fintics.Asset.eps}"></th>
                                <td data-duice-bind="_assetDialog.asset" data-duice-property="eps" class="text-align--right"></td>
                            </tr>
                            <tr>
                                <th data-th-text="#{fintics.Asset.roe}"></th>
                                <td data-duice-bind="_assetDialog.asset" data-duice-property="roe" class="text-align--right"></td>
                                <th data-th-text="#{fintics.Asset.roa}"></th>
                                <td data-duice-bind="_assetDialog.asset" data-duice-property="roa" class="text-align--right"></td>
                            </tr>
                            <tr>
                                <th data-th-text="#{fintics.Asset.per}"></th>
                                <td data-duice-bind="_assetDialog.asset" data-duice-property="per" class="text-align--right"></td>
                                <th data-th-text="#{fintics.Asset.dividendYield}"></th>
                                <td data-duice-bind="_assetDialog.asset" data-duice-property="dividendYield" class="text-align--right"></td>
                            </tr>
                            <tr>
                                <td data-th-text="#{fintics.Asset.dividendFrequency}"></td>
                                <td data-duice-bind="_assetDialog.asset" data-duice-property="dividendFrequency" class="text-align--right"></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="display--flex justify-content--space-between align-items--center">
                <h3>
                    <img class="icon" th:src="@{/static/image/icon-ohlcv.svg}" alt="ohlcv"/>
                    <span data-th-text="#{fintics.Ohlcv}" class="font-weight--bold"></span>
                </h3>
                <div class="text-align--right code font-size--smaller">
                    <div class="display--flex gap--1em code">
                        <label>
                            <input name="_assetDialogChartPeriod" type="radio" onclick="_assetDialog.drawChart('minute', 1);"/>
                            1m
                        </label>
                        <label>
                            <input name="_assetDialogChartPeriod" type="radio" onclick="_assetDialog.drawChart('minute', 3);"/>
                            3m
                        </label>
                        <label>
                            <input name="_assetDialogChartPeriod" type="radio" onclick="_assetDialog.drawChart('minute', 5);"/>
                            5m
                        </label>
                        <label>
                            <input name="_assetDialogChartPeriod" type="radio" onclick="_assetDialog.drawChart('minute', 10);"/>
                            10m
                        </label>
                        <label>
                            <input name="_assetDialogChartPeriod" type="radio" onclick="_assetDialog.drawChart('minute', 30);"/>
                            30m
                        </label>
                        <label>
                            <input name="_assetDialogChartPeriod" type="radio" onclick="_assetDialog.drawChart('minute', 60);"/>
                            1H
                        </label>
                        <label>
                            <input name="_assetDialogChartPeriod" type="radio" onclick="_assetDialog.drawChart('daily', 1);"/>
                            1D
                        </label>
                        <label>
                            <input name="_assetDialogChartPeriod" type="radio" onclick="_assetDialog.drawChart('daily', 5);"/>
                            1W
                        </label>
                    </div>
                </div>
            </div>
            <div id="_assetDialogChart" class="width--100"></div>
       </div>
    </dialog>
    <!-- ====================================== -->
    <!-- end: _assetDialog                      -->
    <!-- ====================================== -->
</th:block>

<th:block th:fragment="_submitOrderDialog">
    <!-- ================================== -->
    <!-- submit order dialog                -->
    <!-- ================================== -->
    <dialog class="dialog" id="_submitOrderDialog">
        <style th:inline="css">
            #_submitOrderDialog {
                width: 400px;
            }
        </style>
        <script th:inline="javascript">
            const _submitOrderDialog = {
                dialog: new duice.Dialog(document.getElementById('_submitOrderDialog')),
                order: new duice.ObjectProxy({
                    tradeId: null,
                    tradeName: null,
                    assetId: null,
                    assetName: null,
                    type: null,
                    kind: 'MARKET',
                    quantity: 1
                }),
                open: async function(trade, asset, type) {
                    duice.ObjectProxy.reset(this.order);
                    this.order.tradeId = trade.tradeId;
                    this.order.tradeName = trade.name;
                    this.order.assetId = asset.assetId;
                    this.order.assetName = asset.name;
                    this.order.type = type;
                    return this.dialog.open();
                },
                confirm: async function() {
                    if(!this.order.quantity) {
                        await _alert(/*[[#{web.global.itemEmpty(#{fintics.Order.quantity})}]]*/'');
                        duice.ObjectProxy.focus(this.order, 'quantity');
                        return false;
                    }
                    _confirm(/*[[#{web.global.requestItemConfirm(#{fintics.Order})}]]*/'')
                        .then(result => {
                            let url = new URL(`${_apiUrl}/v1/trades/${this.order.tradeId}/orders`, document.location.origin);
                            if (result) {
                                _fetch(url, {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify(this.order)
                                }).then(response => response.json())
                                    .then(data => {
                                        _alert(/*[[#{web.global.requestItemComplete(#{fintics.Order})}]]*/'')
                                            .then(() => {
                                                this.dialog.close();
                                            });
                                    });
                            }
                        });
                }
            }
        </script>
        <div class="dialog-title">
            <h2>
                <img class="icon" th:src="@{/static/image/icon-order.svg}" alt="asset"/>
                <span data-th-text="#{fintics.Order}"></span>
            </h2>
        </div>
        <div class="dialog-content">
            <form onsubmit="return false;" class="display--grid grid-template-columns--12fr gap--1rem">
                <label class="grid-column--span-12">
                    <span data-th-text="#{fintics.Trade}" class="font-weight--bold"></span>
                    <input type="text" data-duice-bind="_submitOrderDialog.order" data-duice-property="tradeName" class="width--100"/>
                </label>
                <label class="grid-column--span-12">
                    <span data-th-text="#{fintics.Asset}" class="font-weight--bold"></span>
                    <input type="text" data-duice-bind="_submitOrderDialog.order" data-duice-property="assetName" class="width--100"/>
                </label>
                <label class="grid-column--span-12">
                    <span data-th-text="#{fintics.Order.type}" class="font-weight--bold"></span>
                    <select data-duice-bind="_submitOrderDialog.order" data-duice-property="type" class="width--100">
                        <option value="BUY" data-th-text="#{fintics.Order.Type.BUY}"></option>
                        <option value="SELL" data-th-text="#{fintics.Order.Type.SELL}"></option>
                    </select>
                </label>
                <label class="grid-column--span-12">
                    <span data-th-text="#{fintics.Order.kind}" class="font-weight--bold"></span>
                    <select data-duice-bind="_submitOrderDialog.order" data-duice-property="kind" class="width--100">
                        <option value="MARKET" data-th-text="#{fintics.Order.Kind.MARKET}"></option>
                        <option value="LIMIT" data-th-text="#{fintics.Order.Kind.LIMIT}"></option>
                    </select>
                </label>
                <label class="grid-column--span-12">
                    <span data-th-text="#{fintics.Order.quantity}" class="font-weight--bold"></span>
                    <input type="number" data-duice-bind="_submitOrderDialog.order" data-duice-property="quantity" class="width--100"/>
                </label>
            </form>
            <div class="display--flex justify-content--end">
                <button class="button" onclick="_submitOrderDialog.confirm();">
                    <img class="icon" th:src="@{/static/image/icon-confirm.svg}" alt="confirm"/>
                    <span data-th-text="#{web.global.confirm}"></span>
                </button>
            </div>
        </div>
    </dialog>
    <!-- ================================== -->
    <!-- submit order dialog                -->
    <!-- ================================== -->
</th:block>

