<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<th:block layout:fragment="_content">
    <th:block th:insert="_common.html"/>
    <script th:inline="javascript">
        // defines
        const brokers = new duice.ArrayProxy(/*[[${brokers}]]*/[]);
        const profitSearchMap = new Map();
        const profitMap = new Map();
        const balanceHistoriesChartMap = new Map();
        brokers.forEach(broker => {
            const profitSearch = new duice.ObjectProxy({
                _status: null
            });
            profitSearchMap.set(broker.brokerId, profitSearch);
            const profit = new duice.ObjectProxy({
                profitAmount: null,
                realizedProfitAmount: null,
                dividendProfitAmount: null,
                realizedProfits: [],
                dividendProfits: [],
                balanceHistories: []
            });
            profitMap.set(broker.brokerId, profit);
        });

        function initializeBalanceHistoriesChart() {
            Chart.register(ChartDataLabels);
            brokers.forEach(broker => {
                const chartId = `balanceHistoriesChart-${broker.brokerId}`;
                const chartElement = document.getElementById(chartId);
                const balanceHistoriesChart = new Chart(chartElement, {
                    type: 'bar',
                    data: {
                        labels: [],
                        datasets: []
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        animation: false,
                        plugins: {
                            legend: {
                                labels: {
                                    font: {
                                        size: 10,
                                    }
                                }
                            },
                        },
                        scales: {
                            x: {
                                stacked: true,
                                barPercentage: 0.1,
                                categoryPercentage: 0.1,
                                ticks: {
                                    font: {
                                        size: 8,
                                        family: 'monospace'
                                    }
                                }
                            },
                            y: {
                                stacked: true,
                                ticks: {
                                    font: {
                                        size: 8,
                                        family: 'monospace'
                                    }
                                },
                                afterDataLimits: (axis) => {
                                    axis.max = axis.max * 1.25;
                                }
                            }
                        }
                    }
                });
                balanceHistoriesChartMap.set(broker.brokerId, balanceHistoriesChart);
            });
        }

        function getProfit(brokerId, dateFrom, dateTo) {
            let url = new URL(`${_apiUrl}/v1/profits/${brokerId}`, document.location.origin);
            if (dateFrom && dateTo) {
                url.searchParams.set('dateFrom', dateFns.format(dateFrom, 'YYYY-MM-DD'));
                url.searchParams.set('dateTo', dateFns.format(dateTo, 'YYYY-MM-DD'));
            }
            let profitSearch = profitSearchMap.get(brokerId);
            profitSearch._status = 'loading';
            duice.ObjectProxy.clear(profitMap.get(brokerId));

            // clears balance histories chart
            let balanceHistoriesChart = balanceHistoriesChartMap.get(brokerId);
            balanceHistoriesChart.data.labels.length = 0;
            balanceHistoriesChart.data.datasets.length = 0;
            balanceHistoriesChart.update();

            // fetches profit
            _fetch(url, {}, true)
            .then(response => response.json())
            .then(data => {
                duice.ObjectProxy.assign(profitMap.get(brokerId), data);

                // updates balance histories chart
                balanceHistoriesChart.data.labels.length = 0;
                balanceHistoriesChart.data.datasets.length = 0;
                let labels = data.balanceHistories.map(row => dateFns.format(row.date, 'MM-DD')).reverse();
                let totalAmounts = data.balanceHistories.map(row => row.totalAmount).reverse();
                let cashAmounts = data.balanceHistories.map(row => row.cashAmount).reverse();
                let valuationAmounts = data.balanceHistories.map(row => row.valuationAmount).reverse();
                balanceHistoriesChart.data.labels.push(...labels);
                balanceHistoriesChart.data.datasets.push({
                    label: 'Cash Amount',
                    data: cashAmounts,
                    stack: 'group1',
                    backgroundColor: 'rgba(90, 90, 90, 0.7)',
                    fill: false,
                    datalabels: { display: false }
                }, {
                    label: 'Valuation Amount',
                    data: valuationAmounts,
                    stack: 'group1',
                    backgroundColor: 'rgba(80, 170, 120, 0.7)',
                    fill: false,
                    datalabels: { display: false }
                }, {
                    type: 'line',
                    label: 'Total Amount',
                    data: totalAmounts,
                    borderColor: 'gray',
                    borderWidth: 1,
                    borderDash: [3, 1],
                    fill: false,
                    datalabels: {
                        align: 'top',
                        anchor: 'start',
                        font: {
                            family: 'monospace',
                            size: 8,
                            weight: 'bold'
                        },
                        color: 'gray',
                        formatter: (value, context) => {
                            const totalCount = context.chart.data.datasets[context.datasetIndex].data.length;
                            const stepSize = Math.ceil(totalCount / 10);
                            return context.dataIndex === totalCount - 1 ||
                                (totalCount - context.dataIndex - 1) % stepSize === 0
                                ? new Intl.NumberFormat().format(value)
                                : null;
                        }
                    }
                });
                balanceHistoriesChart.update();
            })
            .finally(() => {
                profitSearch._status = 'completed';
            });
        }

        function getProfits(dateFrom, dateTo) {
            brokers.forEach(broker => {
                getProfit(broker.brokerId, dateFrom, dateTo);
            });
        }

        function getProfitsDaily() {
            getProfits(dateFns.subDays(new Date(), 1), new Date());
            toggleButton('daily');
        }

        function getProfitsWeekly() {
            getProfits(dateFns.subWeeks(new Date(), 1), new Date());
            toggleButton('weekly');
        }

        function getProfitsMonthly() {
            getProfits(dateFns.subMonths(new Date(), 1), new Date());
            toggleButton('monthly');
        }

        function getProfitsQuarterly() {
            getProfits(dateFns.subMonths(new Date(), 3), new Date());
            toggleButton('quarterly');
        }

        function getProfitsSemiannually() {
            getProfits(dateFns.subMonths(new Date(), 6), new Date());
            toggleButton('semiannually');
        }

        function getProfitsYearly() {
            getProfits(dateFns.subYears(new Date(), 1), new Date());
            toggleButton('yearly');
        }

        function toggleButton(selectedButtonId) {
            let buttonIds = ['daily','weekly','monthly','quarterly', 'semiannually','yearly'];
            buttonIds.forEach(buttonId => {
                let buttonElement = document.getElementById(buttonId);
                if (buttonId === selectedButtonId) {
                    buttonElement.classList.add('selected-button');
                } else {
                    buttonElement.classList.remove('selected-button');
                }
            });
        }

        // event listener
        document.addEventListener('DOMContentLoaded', () => {
            initializeBalanceHistoriesChart();
            getProfitsDaily();
        });
    </script>
    <style th:inline="css">
        .period-button {
            min-width: 5em;
            opacity: 0.5;
        }
        .selected-button {
            font-weight: bold;
            opacity: 1.0;
        }
    </style>

    <!-- ====================================== -->
    <!-- start: title                           -->
    <!-- ====================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-profit.svg}" alt="realized-profit"/>
        <span data-th-text="#{fintics.Profit}"></span>
    </h1>
    <!-- ====================================== -->
    <!-- end: title                             -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: search condition                -->
    <!-- ====================================== -->
    <div class="display--flex gap--1px margin-bottom--1px">
        <button id="daily" class="period-button" type="button" onclick="getProfitsDaily();">
            <span data-th-text="#{web.global.day}"></span>
        </button>
        <button id="weekly" class="period-button" type="button" onclick="getProfitsWeekly();">
            <span data-th-text="#{web.global.week}"></span>
        </button>
        <button id="monthly" class="period-button" type="button" onclick="getProfitsMonthly();">
            <span data-th-text="#{web.global.month}"></span>
        </button>
        <button id="quarterly" class="period-button" type="button" onclick="getProfitsQuarterly();">
            <span data-th-text="#{web.global.quarter}"></span>
        </button>
        <button id="semiannually" class="period-button" type="button" onclick="getProfitsSemiannually();">
            <span data-th-text="#{web.global.semiannual}"></span>
        </button>
        <button id="yearly" class="period-button" type="button" onclick="getProfitsYearly();">
            <span data-th-text="#{web.global.year}"></span>
        </button>
    </div>
    <!-- ====================================== -->
    <!-- end: search condition                  -->
    <!-- ====================================== -->

    <!-- ====================================== -->
    <!-- start: profit                          -->
    <!-- ====================================== -->
    <div class="display--grid grid-template-columns--12fr gap--1rem">
        <div th:each="broker : ${brokers}" class="grid-column--span-6 s__grid-column--span-12">
            <div class="panel">
                <div class="panel-title display--flex justify-content--space-between">
                    <h2>
                        <img class="icon" th:src="@{/static/image/icon-broker.svg}" alt="broker"/>
                        <span data-th-text="${broker.name}"></span>
                    </h2>
                    <div class="align-self--end padding-right--1em font-weight--bold">
                        <img class="icon" th:src="@{/static/image/icon-profit.svg}" alt="profit"/>
                        <span data-th-text="#{fintics.Profit.totalAmount}"></span>:
                        <span th:data-duice-bind="|profitMap.get('${broker.brokerId}')|"
                              data-duice-property="totalAmount"
                              data-duice-format="number()" class="number">
                            </span>
                    </div>
                </div>
                <div class="panel-content">
                    <!-- start: balance history -->
                    <div>
                        <div>
                            <span data-th-text="#{fintics.Profit.balanceProfitAmount}" class="font-weight--bold"></span>:
                            <span th:data-duice-bind="|profitMap.get('${broker.brokerId}')|"
                                  data-duice-property="balanceProfitAmount"
                                  data-duice-format="number()"
                                  th:data-duice-execute="|
                                  let balanceProfitAmount = profitMap.get('${broker.brokerId}').balanceProfitAmount;
                                  this.classList.toggle('color--green', balanceProfitAmount > 0);
                                  this.classList.toggle('color--red', balanceProfitAmount < 0);
                                  |"
                                  class="font-weight--bold number"></span>
                            <span th:data-duice-bind="|profitMap.get('${broker.brokerId}')|"
                                  data-duice-format="number()"
                                  th:data-duice-execute="|
                                  let balanceProfitPercentage = profitMap.get('${broker.brokerId}').balanceProfitPercentage;
                                  this.classList.toggle('color--green', balanceProfitPercentage > 0);
                                  this.classList.toggle('color--red', balanceProfitPercentage < 0);
                                  this.innerHTML = '(' + Intl.NumberFormat().format(balanceProfitPercentage) + '%)';
                                  |"
                                  class="number font-size--smaller"></span>
                        </div>
                        <div>
                            <canvas th:id="|balanceHistoriesChart-${broker.brokerId}|"></canvas>
                        </div>
                    </div>
                    <!-- end: balance history -->
                    <!-- start: realized profit -->
                    <div>
                        <div>
                            <span data-th-text="#{fintics.Profit.realizedProfitAmount}" class="font-weight--bold"></span>:
                            <span th:data-duice-bind="|profitMap.get('${broker.brokerId}')|"
                                  data-duice-property="realizedProfitAmount"
                                  th:data-duice-execute="|
                                    let realizedProfitAmount = profitMap.get('${broker.brokerId}').realizedProfitAmount;
                                    this.classList.toggle('color--green', realizedProfitAmount > 0);
                                    this.classList.toggle('color--red', realizedProfitAmount < 0);
                                    |"
                                  data-duice-format="number()"
                                  class="font-weight--bold number"></span>
                            <span th:data-duice-bind="|profitMap.get('${broker.brokerId}')|"
                                  data-duice-format="number()"
                                  th:data-duice-execute="|
                                  let realizedProfitPercentage = profitMap.get('${broker.brokerId}').realizedProfitPercentage;
                                  this.classList.toggle('color--green', realizedProfitPercentage > 0);
                                  this.classList.toggle('color--red', realizedProfitPercentage < 0);
                                  this.innerHTML = '(' + Intl.NumberFormat().format(realizedProfitPercentage) + '%)';
                                  |"
                                  class="number font-size--smaller"></span>
                        </div>
                        <div class="overflow--scroll box" style="max-height:200px;">
                            <table class="table border--none" style="min-width:100%;">
                                <colgroup>
                                    <col style="width:7em;"/>
                                    <col style="width:7em;"/>
                                    <col style="width:15em;"/>
                                    <col/>
                                    <col/>
                                    <col/>
                                    <col/>
                                    <col/>
                                    <col/>
                                    <col/>
                                    <col/>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th data-th-text="#{fintics.RealizedProfit.date}"></th>
                                    <th data-th-text="#{fintics.RealizedProfit.symbol}"></th>
                                    <th data-th-text="#{fintics.RealizedProfit.name}"></th>
                                    <th data-th-text="#{fintics.RealizedProfit.profitAmount}"></th>
                                    <th data-th-text="#{fintics.RealizedProfit.profitPercentage}"></th>
                                    <th data-th-text="#{fintics.RealizedProfit.quantity}"></th>
                                    <th data-th-text="#{fintics.RealizedProfit.purchasePrice}"></th>
                                    <th data-th-text="#{fintics.RealizedProfit.purchaseAmount}"></th>
                                    <th data-th-text="#{fintics.RealizedProfit.disposePrice}"></th>
                                    <th data-th-text="#{fintics.RealizedProfit.disposeAmount}"></th>
                                    <th data-th-text="#{fintics.RealizedProfit.feeAmount}"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:data-duice-bind="|profitMap.get('${broker.brokerId}').realizedProfits|" data-duice-loop="realizedProfit,status">
                                    <td class="text-align--center">
                            <span data-duice-bind="realizedProfit"
                                  data-duice-property="date"
                                  data-duice-format="date('yyyy-MM-dd')" class="date text-align--center"></span>
                                    </td>
                                    <td class="text-align--center">
                                        <span data-duice-bind="realizedProfit" data-duice-property="symbol" class="code"></span>
                                    </td>
                                    <td>
                                        <span data-duice-bind="realizedProfit" data-duice-property="name"></span>
                                    </td>
                                    <td class="text-align--right">
                                        <span data-duice-bind="realizedProfit" data-duice-property="profitAmount" data-duice-format="number()"
                                              data-duice-execute="
                                              this.classList.toggle('color--green', realizedProfit.profitAmount > 0);
                                              this.classList.toggle('color--red', realizedProfit.profitAmount < 0);
                                              " class="font-weight--bold number"></span>
                                    </td>
                                    <td class="text-align--right">
                                        <span data-duice-bind="realizedProfit" data-duice-property="profitPercentage" data-duice-format="number()"
                                              data-duice-execute="
                                              this.classList.toggle('color--green', realizedProfit.profitPercentage > 0);
                                              this.classList.toggle('color--red', realizedProfit.profitPercentage < 0);
                                              " class="font-weight--bold number"></span>
                                        <span class="code">%</span>
                                    </td>
                                    <td class="text-align--right">
                                        <span data-duice-bind="realizedProfit" data-duice-property="quantity" data-duice-format="number()" class="number"></span>
                                    </td>
                                    <td class="text-align--right">
                                        <span data-duice-bind="realizedProfit" data-duice-property="purchasePrice" data-duice-format="number()" class="number"></span>
                                    </td>
                                    <td class="text-align--right">
                                        <span data-duice-bind="realizedProfit" data-duice-property="purchaseAmount" data-duice-format="number()" class="number"></span>
                                    </td>
                                    <td class="text-align--right">
                                        <span data-duice-bind="realizedProfit" data-duice-property="disposePrice" data-duice-format="number()" class="number"></span>
                                    </td>
                                    <td class="text-align--right">
                                        <span data-duice-bind="realizedProfit" data-duice-property="disposeAmount" data-duice-format="number()" class="number"></span>
                                    </td>
                                    <td class="text-align--right">
                                        <span data-duice-bind="realizedProfit" data-duice-property="feeAmount" data-duice-format="number()" class="number"></span>
                                    </td>
                                </tr>
                                <tr th:data-duice-bind="|profitSearchMap.get('${broker.brokerId}')|"
                                    th:data-duice-if="|return profitSearchMap.get('${broker.brokerId}')._status === 'loading'|" hidden>
                                    <td colspan="100%" class="text-align--center padding--1rem">
                                        <span class="blink" data-th-text="#{web.global.itemLoading(#{fintics.RealizedProfit})}"></span>
                                    </td>
                                </tr>
                                <tr th:data-duice-bind="|profitSearchMap.get('${broker.brokerId}')|"
                                    th:data-duice-if="|return profitSearchMap.get('${broker.brokerId}')._status == 'completed' && profitMap.get('${broker.brokerId}').realizedProfits.length < 1|" hidden>
                                    <td colspan="100%" class="text-align--center padding--1rem">
                                        <span data-th-text="#{web.global.itemNotFound(#{fintics.RealizedProfit})}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end: realized profit -->
                    <!-- start: dividend history -->
                    <div>
                        <div>
                            <span data-th-text="#{fintics.Profit.dividendProfitAmount}" class="font-weight--bold"></span>:
                            <span th:data-duice-bind="|profitMap.get('${broker.brokerId}')|"
                                  data-duice-property="dividendProfitAmount"
                                  data-duice-format="number()"
                                  th:data-duice-execute="|
                                  let dividendProfitAmount = profitMap.get('${broker.brokerId}').dividendProfitAmount;
                                  this.classList.toggle('color--green', dividendProfitAmount > 0);
                                  this.classList.toggle('color--red', dividendProfitAmount < 0);
                                  |"
                                  class="font-weight--bold number"></span>
                            <span th:data-duice-bind="|profitMap.get('${broker.brokerId}')|"
                                  data-duice-format="number()"
                                  th:data-duice-execute="|
                                  let dividendProfitPercentage = profitMap.get('${broker.brokerId}').dividendProfitPercentage;
                                  this.classList.toggle('color--green', dividendProfitPercentage > 0);
                                  this.classList.toggle('color--red', dividendProfitPercentage < 0);
                                  this.innerHTML = '(' + Intl.NumberFormat().format(dividendProfitPercentage) + '%)';
                                  |"
                                  class="number font-size--smaller"></span>
                        </div>
                        <div class="overflow--scroll box" style="max-height:200px;">
                            <table class="table border--none" style="min-width:100%;">
                                <colgroup>
                                    <col style="width:7em;"/>
                                    <col style="width:7em;"/>
                                    <col style="width:15em;"/>
                                    <col/>
                                    <col/>
                                    <col style="width:7em;"/>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th data-th-text="#{fintics.DividendProfit.date}"></th>
                                    <th data-th-text="#{fintics.DividendProfit.symbol}"></th>
                                    <th data-th-text="#{fintics.DividendProfit.name}"></th>
                                    <th data-th-text="#{fintics.DividendProfit.dividendAmount}"></th>
                                    <th data-th-text="#{fintics.DividendProfit.holdingQuantity}"></th>
                                    <th data-th-text="#{fintics.DividendProfit.paymentDate}"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:data-duice-bind="|profitMap.get('${broker.brokerId}').dividendProfits|" data-duice-loop="dividendProfit,status">
                                    <td class="text-align--center">
                                        <span data-duice-bind="dividendProfit"
                                              data-duice-property="date"
                                              data-duice-format="date('yyyy-MM-dd')" class="date"></span>
                                    </td>
                                    <td class="text-align--center">
                                        <span data-duice-bind="dividendProfit" data-duice-property="symbol" class="code"></span>
                                    </td>
                                    <td>
                                        <span data-duice-bind="dividendProfit" data-duice-property="name"></span>
                                    </td>
                                    <td class="text-align--right">
                                        <span data-duice-bind="dividendProfit"
                                              data-duice-property="dividendAmount"
                                              data-duice-execute="
                                              this.classList.toggle('color--green', dividendProfit.dividendAmount > 0);
                                              this.classList.toggle('color--red', dividendProfit.dividendAmount < 0);
                                              "
                                              data-duice-format="number()"
                                              class="font-weight--bold number"></span>
                                    </td>
                                    <td class="text-align--right">
                                        <span data-duice-bind="dividendProfit" data-duice-property="holdingQuantity" data-duice-format="number()" class="number"></span>
                                    </td>
                                    <td>
                                        <span data-duice-bind="dividendProfit"
                                              data-duice-property="paymentDate"
                                              data-duice-format="date('yyyy-MM-dd')" class="date"></span>
                                    </td>
                                </tr>
                                <tr th:data-duice-bind="|profitSearchMap.get('${broker.brokerId}')|"
                                    th:data-duice-if="|return profitSearchMap.get('${broker.brokerId}')._status === 'loading'|">
                                    <td colspan="100%" class="text-align--center padding--1rem">
                                        <span class="blink" data-th-text="#{web.global.itemLoading(#{fintics.DividendProfit})}"></span>
                                    </td>
                                </tr>
                                <tr th:data-duice-bind="|profitSearchMap.get('${broker.brokerId}')|"
                                    th:data-duice-if="|return profitSearchMap.get('${broker.brokerId}')._status === 'completed' && profitMap.get('${broker.brokerId}').dividendProfits.length < 1;|" hidden>
                                    <td colspan="100%" class="text-align--center padding--1rem">
                                        <span data-th-text="#{web.global.itemNotFound(#{fintics.DividendProfit})}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end: dividend history -->
                </div>
            </div>
        </div>
    </div>
    <!-- ====================================== -->
    <!-- end: profit                            -->
    <!-- ====================================== -->

</th:block>
