<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_web.html">
<main layout:fragment="_main">
    <th:block th:insert="common/_common.html"/>
    <th:block th:insert="common/_asset-dialog.html"/>
    <script th:inline="javascript">
        // defines
        const assetSearch = new duice.ObjectProxy({
            market: null,
            type: null,
            key: 'name',
            value: null,
            favorite: false,
            _page: 0,
            _size: 20,
            _sort: [],
            _total: -1,
            _status: null
        });
        const assets = new duice.ArrayProxy([]);

        async function getAssets(page) {
            if(Number.isFinite(parseInt(page))) {
                assetSearch._page = parseInt(page);
            }
            let url = new URL(`${_apiUrl}/v1/assets`, document.location.origin);
            if (assetSearch.market != null) {
                url.searchParams.set('market', assetSearch.market);
            }
            if (assetSearch.type != null) {
                url.searchParams.set('type', assetSearch.type);
            }
            if (assetSearch.key && assetSearch.value) {
                url.searchParams.set(assetSearch.key, assetSearch.value);
            }
            if (assetSearch.favorite) {
                url.searchParams.set('favorite', assetSearch.favorite);
            }
            url.searchParams.set('_page', assetSearch._page);
            url.searchParams.set('_size', assetSearch._size);
            assetSearch._sort.forEach(it => {
                url.searchParams.append('_sort', it);
            });
            assets.length = 0;
            assetSearch._status = 'loading';
            _fetch(url)
                .then(response => {
                    assetSearch._total = _parseTotalCount(response);
                    return response.json()
                })
                .then(data => {
                    assetSearch._status = data.length < 1 ? 'empty' : null;
                    duice.ArrayProxy.assign(assets, data);
                });

        }

        function getAssetsWithSort(property, event) {
            let index = assetSearch._sort.findIndex(it => {
                return it.split(',')[0] === property;
            });
            if (index < 0) {
                assetSearch._sort.push(`${property},asc`);
            } else {
                let sortParts = assetSearch._sort[index].split(',');
                let direction = sortParts[1];
                if (direction === 'asc') {
                    assetSearch._sort.splice(index, 1, `${property},desc`);
                } else if (direction === 'desc') {
                    assetSearch._sort.splice(index, 1);
                }
            }
            // if not shift pressed, clears sort
            if (!event.shiftKey) {
                for (let i = assetSearch._sort.length - 1; i >= 0; i--) {
                    if (assetSearch._sort[i].split(',')[0] !== property) {
                        assetSearch._sort.splice(i, 1);
                    }
                }
            }
            // get assets
            getAssets(0);
        }

        function toggleAssetSort(element, property) {
            let index = assetSearch._sort.findIndex(it => {
                return it.split(',')[0] === property;
            });
            if (index >= 0) {
                let sortParts = assetSearch._sort[index].split(',');
                let sortDirection = sortParts[1];
                element.classList.toggle('asc', sortDirection === 'asc');
                element.classList.toggle('desc', sortDirection === 'desc');
            } else {
                element.classList.remove('asc', 'desc');
            }
        }

        function resetAssets() {
            duice.ObjectProxy.reset(assetSearch);
            getAssets(0);
        }

        function loadAssetSearch() {
            duice.ObjectProxy.reset(assetSearch);
            _loadUrlSearchParams(assetSearch, ['market', 'type','key', 'value', 'favorite', '_page', '_size', '_sort']);
        }

        function pushAssetSearch() {
            _pushUrlSearchParams(assetSearch, ['market', 'type','key', 'value', 'favorite', '_page', '_size', '_sort']);
        }

        function deleteAssetSearch() {
            _deleteUrlSearchParams(['market', 'type','key', 'value', 'favorite', '_page', '_size', '_sort']);
        }

        // initialize
        _initialize(() => {
            loadAssetSearch();
            getAssets();
        });
    </script>

    <!-- ====================================== -->
    <!-- start: title                           -->
    <!-- ====================================== -->
    <h1 id="title">
        <img class="icon" th:src="@{/static/image/icon-asset.svg}" alt="asset"/>
        <span data-th-text="#{fintics.core.asset.Asset}"></span>
    </h1>
    <!-- ====================================== -->
    <!-- end: title                             -->
    <!-- ====================================== -->

    <!-- ================================== -->
    <!-- start: assets                      -->
    <!-- ================================== -->
    <div class="panel">
        <div class="panel-title">
            <h2>
                <img class="icon" th:src="@{/static/image/icon-list.svg}" alt="list"/>
                <span data-th-text="|#{fintics.core.asset.Asset} #{web.global.list}|"></span>
            </h2>
        </div>
        <div class="panel-content">
            <form onsubmit="return false;" class="display--flex justify-content--space-between gap--1px flex-wrap--wrap">
                <div class="display--flex flex-wrap--wrap gap--1px s__width--100">
                    <div class="s__width--100">
                        <label>
                            <select data-duice-bind="assetSearch"
                                    data-duice-property="market"
                                    class="s__width--100">
                                <option value="" data-th-text="|#{fintics.core.asset.Asset.market}...|"></option>
                                <option th:each="market : ${markets}" th:value="${market}" th:text="${market}"></option>
                            </select>
                        </label>
                    </div>
                    <div class="s__width--100">
                        <label>
                            <select data-duice-bind="assetSearch"
                                    data-duice-property="type"
                                    class="s__width--100">
                                <option value="" data-th-text="|#{fintics.core.asset.Asset.type}...|"></option>
                                <option value="STOCK">STOCK</option>
                                <option value="ETF">ETF</option>
                            </select>
                        </label>
                    </div>
                    <div class="display--flex flex-wrap--nowrap gap--1px s__width--100">
                        <label class="flex--1">
                            <select data-duice-bind="assetSearch"
                                    data-duice-property="key"
                                    class="s__width--100">
                                <option value="name" th:text="#{fintics.core.asset.Asset.name}"></option>
                                <option value="assetId" th:text="#{fintics.core.asset.Asset.assetId}"></option>
                            </select>
                        </label>
                        <label class="flex--2">
                            <input type="text"
                                   data-duice-bind="assetSearch"
                                   data-duice-property="value"
                                   class="s__width--100"/>
                        </label>
                    </div>
                    <div class="display--flex flex-wrap--nowrap">
                        <label>
                            <input type="checkbox" data-duice-bind="assetSearch" data-duice-property="favorite"/>
                            <span>Favorite</span>
                        </label>
                    </div>
                </div>
                <div class="display--flex gap--1px justify-content--end s__justify-content--start s__width--100">
                    <button class="button" type="submit" onclick="getAssets(0); pushAssetSearch();">
                        <img class="icon" th:src="@{/static/image/icon-search.svg}" alt="search"/>
                        <span data-th-text="#{web.global.search}"></span>
                    </button>
                    <button class="button" type="button" onclick="resetAssets(); deleteAssetSearch();">
                        <img class="icon" th:src="@{/static/image/icon-reset.svg}" alt="reset"/>
                        <span data-th-text="#{web.global.reset}"></span>
                    </button>
                </div>
            </form>
            <div class="overflow--auto box">
                <table class="table width--100 border--none">
                    <thead>
                    <tr>
                        <th>
                            <span data-th-text="#{web.global.no}"></span>
                        </th>
                        <th>
                            <span data-th-text="#{fintics.core.asset.Asset.symbol}"></span>
                        </th>
                        <th>
                            <span data-th-text="#{fintics.core.asset.Asset.name}"></span>
                        </th>
                        <th>
                            <span data-th-text="#{fintics.core.asset.Asset.market}"></span>
                        </th>
                        <th>
                            <span data-th-text="#{fintics.core.asset.Asset.type}"></span>
                        </th>
                        <th>
                            <span data-th-text="#{fintics.core.asset.Asset.sector}"></span>
                            /
                            <span data-th-text="#{fintics.core.asset.Asset.industry}"></span>
                        </th>
                        <th>
                            <span data-th-text="#{fintics.core.asset.Asset.updatedDate}"></span>
                        </th>
                        <th>
                            <span data-th-text="#{fintics.core.asset.Asset.price}"></span>
                        </th>
                        <th>
                            <a href="javascript:void(0);"
                               data-duice-bind="assetSearch"
                               data-duice-execute="toggleAssetSort(this, 'volume');"
                               onclick="getAssetsWithSort('volume', event); pushAssetSearch();"
                               class="tag-sortable">
                                <span data-th-text="#{fintics.core.asset.Asset.volume}"></span>
                            </a>
                        </th>
                        <th>
                            <span data-th-text="#{fintics.core.asset.Asset.marketCap}"></span>
                        </th>
                        <th>
                            <span data-th-text="#{fintics.core.asset.Asset.eps}"></span>
                        </th>
                        <th>
                            <a href="javascript:void(0);"
                               data-duice-bind="assetSearch"
                               data-duice-execute="toggleAssetSort(this, 'roe');"
                               onclick="getAssetsWithSort('roe', event); pushAssetSearch();"
                               class="tag-sortable">
                                <span data-th-text="#{fintics.core.asset.Asset.roe}"></span>
                            </a>
                        </th>
                        <th>
                            <a href="javascript:void(0);"
                               data-duice-bind="assetSearch"
                               data-duice-execute="toggleAssetSort(this, 'per');"
                               onclick="getAssetsWithSort('per', event); pushAssetSearch();"
                               class="tag-sortable">
                                <span data-th-text="#{fintics.core.asset.Asset.per}"></span>
                            </a>
                        </th>
                        <th>
                            <a href="javascript:void(0);"
                               data-duice-bind="assetSearch"
                               data-duice-execute="toggleAssetSort(this, 'dividendFrequency');"
                               onclick="getAssetsWithSort('dividendFrequency', event); pushAssetSearch();"
                               class="tag-sortable">
                                <span data-th-text="#{fintics.core.asset.Asset.dividendFrequency}"></span>
                            </a>
                        </th>
                        <th>
                            <a href="javascript:void(0);"
                               data-duice-bind="assetSearch"
                               data-duice-execute="toggleAssetSort(this, 'dividendYield');"
                               onclick="getAssetsWithSort('dividendYield', event); pushAssetSearch();"
                               class="tag-sortable">
                                <span data-th-text="#{fintics.core.asset.Asset.dividendYield}"></span>
                            </a>
                        </th>
                        <th>
                            <a href="javascript:void(0);"
                               data-duice-bind="assetSearch"
                               data-duice-execute="toggleAssetSort(this, 'capitalGain');"
                               onclick="getAssetsWithSort('capitalGain', event); pushAssetSearch();"
                               class="tag-sortable">
                                <span data-th-text="#{fintics.core.asset.Asset.capitalGain}"></span>
                            </a>
                        </th>
                        <th>
                            <a href="javascript:void(0);"
                               data-duice-bind="assetSearch"
                               data-duice-execute="toggleAssetSort(this, 'totalReturn');"
                               onclick="getAssetsWithSort('totalReturn', event); pushAssetSearch();"
                               class="tag-sortable">
                                <span data-th-text="#{fintics.core.asset.Asset.totalReturn}"></span>
                            </a>
                        </th>
                        <th>
                            <span data-th-text="#{fintics.core.asset.Asset.links}"></span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-duice-bind="assets" data-duice-foreach="asset,status">
                        <td class="text-align--center">
                            <span data-duice-bind="status"
                                  data-duice-execute="this.innerHTML = (assetSearch._size*assetSearch._page) + status.count;"
                                  class="number">
                            </span>
                        </td>
                        <td class="text-truncate" style="min-width:6rem;">
                            <img data-duice-bind="asset" data-duice-execute="_applyAssetFavoriteIcon(this, asset, true);" alt=""/>
                            <span data-duice-bind="asset" data-duice-property="symbol" class="code"></span>
                        </td>
                        <td class="text-truncate">
                            <img class="icon border-radius--50 font-size--large" data-duice-bind="asset" data-duice-property="icon" th:onerror="|this.onerror=null; this.src='@{/static/image/icon-asset.svg}';|" alt=""/>
                            &nbsp;
                            <a href="javascript:void(0);"
                               data-duice-bind="asset"
                               data-duice-execute="this.dataset.assetId=asset.assetId;"
                               onclick="_assetDialog.open({assetId: this.dataset.assetId});">
                                <span data-duice-bind="asset" data-duice-property="name"></span>
                            </a>
                        </td>
                        <td class="text-align--center">
                            <span data-duice-bind="asset" data-duice-property="market" class="code badge"></span>
                        </td>
                        <td class="text-align--center">
                            <span data-duice-bind="asset" data-duice-property="type" class="code badge"></span>
                        </td>
                        <td class="text-truncate">
                            <label>
                                <input type="text"
                                       data-duice-bind="asset"
                                       data-duice-execute="
                                   this.value =`${asset.sector??''} / ${asset.industry??''}`;" readonly/>
                            </label>
                        </td>
                        <td class="text-align--center white-space--nowrap">
                            <span data-duice-bind="asset" data-duice-property="updatedDate" class="date"></span>
                        </td>
                        <td class="text-align--right">
                            <span class="number" data-duice-bind="asset" data-duice-property="price" data-duice-format="number()"></span>
                        </td>
                        <td class="text-align--right">
                            <span class="number" data-duice-bind="asset" data-duice-property="volume" data-duice-format="number()"></span>
                        </td>
                        <td class="text-align--right">
                            <span class="number" data-duice-bind="asset" data-duice-property="marketCap" data-duice-format="number()"></span>
                        </td>
                        <td class="text-align--right">
                            <span class="number" data-duice-bind="asset" data-duice-property="eps"></span>
                        </td>
                        <td class="text-align--right">
                            <span class="number" data-duice-bind="asset" data-duice-property="roe"></span>
                        </td>
                        <td class="text-align--right">
                            <span class="number" data-duice-bind="asset" data-duice-property="per"></span>
                        </td>
                        <td class="text-align--right">
                            <span class="number" data-duice-bind="asset" data-duice-property="dividendFrequency"></span>
                        </td>
                        <td class="text-align--right">
                            <span class="number" data-duice-bind="asset" data-duice-property="dividendYield"></span>
                        </td>
                        <td class="text-align--right">
                            <span class="number font-weight--bold" data-duice-bind="asset" data-duice-property="capitalGain"
                                  data-duice-execute="
                                  this.classList.toggle('color--green', asset.capitalGain > 0);
                                  this.classList.toggle('color--red', asset.capitalGain < 0);
                                  "></span>
                        </td>
                        <td class="text-align--right">
                            <span class="number font-weight--bold" data-duice-bind="asset" data-duice-property="totalReturn"
                                data-duice-execute="
                                this.classList.toggle('color--green', asset.totalReturn > 0);
                                this.classList.toggle('color--red', asset.totalReturn < 0);
                                "></span>
                        </td>
                        <td class="text-align--center">
                            <label>
                                <select data-duice-bind="asset"
                                        data-duice-option="asset.links"
                                        data-duice-option-value-property="url"
                                        data-duice-option-text-property="name"
                                        onchange="_openLink(this.value, '_blank'); this.value = '';"
                                        class="code min-width--100">
                                    <option value>Link...</option>
                                </select>
                            </label>
                        </td>
                    </tr>
                    <tr data-duice-bind="assetSearch"
                        data-duice-if="return assetSearch._status === 'loading';" hidden>
                        <td colspan="100%" class="text-align--center padding--1rem">
                            <span class="loading"></span>
                        </td>
                    </tr>
                    <tr data-duice-bind="assetSearch"
                        data-duice-if="return assetSearch._status === 'empty';" hidden>
                        <td colspan="100%" class="text-align--center padding--1rem">
                            <span data-th-text="#{web.global.itemNotFound(#{fintics.core.asset.Asset})}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="display--flex justify-content--space-between gap--1rem">
                <div class="flex--1 white-space--nowrap">
                    <span data-th-text="#{web.global.total}"></span>
                    <span data-duice-bind="assetSearch" data-duice-property="_total" data-duice-format="number(0)" class="number"></span>
                    <span data-th-text="#{web.global.rows}"></span>
                </div>
                <div class="flex--2 text-align--center">
                    <duice-pagination
                            data-duice-bind="assetSearch"
                            data-duice-size-property="_size"
                            data-duice-page-property="_page"
                            data-duice-total-property="_total"
                            data-duice-onclick="getAssets(this.dataset.page); pushAssetSearch();"
                            class="number">
                    </duice-pagination>
                </div>
                <div class="flex--1">
                </div>
            </div>
        </div>
    </div>
    <!-- ================================== -->
    <!-- end: assets                        -->
    <!-- ================================== -->

</main>
